<div class="section-header">
    <h2>Experience</h2>
    <p>Professional roles and projects where I’ve applied my skills in real-world environments.</p>
</div>

<div class="timeline">
    <article class="experience-card" *ngFor="let exp of experiences">
        <header>
            <div class="role">{{ exp.role }}</div>
            <div class="company"><a [href]="exp.company_site_link" target="_blank" rel="noreferrer">{{ exp.company
                    }}</a></div>
            <div class="meta">
                <span>{{ exp.location }}</span>
                <span>•</span>
                <span>{{ exp.period }}</span>
            </div>
        </header>
        <ul>
            <li *ngFor="let point of exp.points">
                {{ point }}
            </li>
        </ul>
    </article>
</div>