<div class="section-header">
    <h2>Contact</h2>
    <p>Interested in working together or have a role that fits my profile? Let’s talk.</p>
</div>

<div class="timeline">

    <article class="contact-card">
        <header>
            <div class="role">Get in Touch</div>
        </header>

        <ul>
            <li>
                <span class="label">Email</span>
                <a href="mailto:pyaephyoshan.499@gmail.com">pyaephyoshan.499&#64;gmail.com</a>
            </li>

            <li>
                <span class="label">Phone</span>
                <a href="tel:+6584077375">+65 8407 7375</a>
            </li>

            <li>
                <span class="label">Location</span>
                <span class="location">Singapore</span>
            </li>
        </ul>
    </article>

    <article class="contact-card">
        <header>
            <div class="role">Links</div>
        </header>

        <ul>
            <li>
                <span class="label">GitHub</span>
                <a href="https://github.com/pps99" target="_blank" rel="noreferrer">github.com/pps99</a>
            </li>

            <li>
                <span class="label">LinkedIn</span>
                <a href="https://www.linkedin.com/in/pyae-phyo-shan-a4239811a/" target="_blank">
                    pyae-phyo-shan-a4239811a
                </a>
            </li>
        </ul>
    </article>

</div>