<div class="page">
  <header class="navbar">
    <div class="logo">Pyae Phyo Shan's Portfolio</div>
    <nav>
      <a routerLink="">About</a>
      <a routerLink="/skills">Skills</a>
      <a routerLink="/experience">Experience</a>
      <a routerLink="/projects">Projects</a>
      <a routerLink="/contact">Contact</a>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <span>© 2025 Pyae Phyo Shan. All rights reserved.</span>
  </footer>
</div>